.iconButton {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    size: 3rem;
    padding-left: 12px;
    color: black;

    &.cross {
        &::before {
            content: "X";
            size: 3rem;
        }
    }
    &.right-arrow {
        &::before {
            content: ">";
            size: 3rem;
        }
    }
    &.left-arrow {
        &::before {
            content: "<";
            size: 3rem;
        }
    }
}
